@import url("../../common.less");

.newspage1 {
  // min-height: 35vh;
  .fontreg();
  padding-left: 6.25em;
  padding-right: 6.25em;

  position: relative;

  //   height: 46.875em;
  //   background-image: url("../../images/aboutus/bannerbg480.png");
  background-image: url("../../images/inthenews/inner_page_banner.jpeg");
  background-position: center;
  background-size: cover;

  .title {
    font-family: "Merriweather Sans";
    font-size: 3.750em;
    letter-spacing: 1.2px;
    line-height: 1.5em;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    max-width: 65%;
    margin: 0 auto;
    text-align: center;
    min-height: 2.62em;
    height: 100%;
  }

  .desc {
    .f30();
    // .t-c();
    .fontreg();
    padding-top: 0.7em;
    .color(#FFFFFF);
  }
}
.news-footer {
  .fontreg();
}
.pagination_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  > * {
    margin: 0px 10px;
    cursor: pointer;
  }
  .disabled {
    opacity: 0.3;
  }
  button {
    border: none;
    background: transparent;
    font-size: 1.5em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.45px;
    text-align: left;
    color: #b3b3b3;
    &.active {
      color: #333333;
    }
  }
}

// .newsContent {
//   .fontreg();
//   font-weight: 300;
// }

@media (max-width: 850px) {
  .newsContent {
    .fontreg();
    // font-weight: 300;
    padding: 70px 100px;
    * {
      // margin: 20px 0px;
      // margin: 0px;
      // font-size: 1em;

      //   font-weight: normal;
      // font-stretch: normal;
      // font-style: normal;
      // line-height: 1.8;
      // letter-spacing: normal;
      // text-align: left;
      // color: #333333;
      //   list-style: none;
    }
    // > p {
    //   font-size: 1.5em;
    // }
    li::marker {
      color: #0bb443 !important;
    }
  }
}
@media (min-width: 834px) {
  .newspage1 {
    // min-height: 520px;
    .main-head {
      padding: 4.244em 0px 6.125em;
      left: 100px;
      // font-size: 2em;
      width: 100%;
      left: 0px;
      position: relative;
      .back-btn {
        position: absolute;
        top: 4em;
        left: 0px;
        font-family: "Merriweather Sans";
        font-weight: normal;
        font-size: 1.125em;
        letter-spacing: 0px;
        line-height: 6.111em;
        text-align: left;
        color: #ffffff;
        cursor: pointer;
        a:hover {
          color: #ffffff !important;
        }
        &:hover {
          // text-decoration: underline;
        }
      }
    }
    .date {
      font-family: "Merriweather Sans";
      font-size: 1.563em;
      line-height: 1.2em;
      letter-spacing: 0px;
      font-weight: normal;
      text-align: center;
      color: #ffffff;
      margin-top: 2em;
      text-transform: uppercase;
    }
  }
  .newsContent {
    padding:4.375em 6.250em;
    * {
      margin: 0.800em 0;
      // font-family: "Merriweather Sans";
      // font-weight: normal;
      // font-size:1em;
      // letter-spacing: 0px;
      // // line-height: 1.8em;
      // text-align: left;
      // color: #333333;
    }
    > p strong u{
      // font-family: "Merriweather Sans";
      // font-weight: normal;
      // font-size:2em;
      // letter-spacing: 0px;
      // line-height: 1.8em;
    }
    > p span{
      // font-family: "Merriweather Sans";
      // font-weight: normal;
      // font-size:1.563em;
      // letter-spacing: 0px;
      // line-height: 1.8em;
      
    }
    > ul li{
      // font-family: "Merriweather Sans";
      // font-weight: normal;
      // font-size:1.563em;
      // letter-spacing: 0px;
      // line-height: 1.8em;
    } 
    li::marker {
      color: #0bb443 !important;
    }
  }
  .news-footer {
    // display: flex;
    padding: 1.250em 6.250em 4.688em 6.250em;
    background-image: url("../../images/inthenews/news_footer_bg.png");
    // background-image: url("../../images/inthenews/inner_page_banner.jpeg");
    background-size: 100%;
    // min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    // align-items: flex-end;
    > a,
    a:hover {
      display: contents;
      text-decoration: none;
    }
    .more-articles {
      font-family: "Merriweather Sans";
      font-weight: bold;
      font-size: 3.750em;
      line-height: 1.167em;
      letter-spacing: 0px;
      text-align: center;
      color: #333333;
      padding: 1em 0px;
    }
    .articles {
      display: flex;
      justify-content: space-between;
      > a {
        display: contents;
        text-decoration: none;
      }
    }
  }
}
@media (max-width: 834px) {
  .newspage1 {
    // background-image: url("../../images/aboutus/bannerbg480.png");
    background-image: url("../../images/inthenews/inner_page_banner.jpeg");
    background-position: center;
    background-size: cover;
    // .mbPadding();
    .breadcrumbFlex {
      > div:last-child {
        display: inline;
      }
    }
    .main-head {
      //   position: relative;
      .back-btn {
        position: absolute;
        top: 8em;
        left: 20px;
        font-size: 1em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        cursor: pointer;
        a:hover {
          color: #ffffff !important;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .date {
      font-size: 1.4em;
      line-height: 2.143em;
      letter-spacing: 0.28px;
      text-align: center;
      color: #ffffff;
      margin-top: 2em;
      text-transform: uppercase;
    }
    .title {
      .mf50();
      padding-top: 1.16em;
      padding-top: 0.5em;
      .t-c();
      .fontbold();
      color: #fff;
    }

    .desc {
      .mf18();
      width: 100%;
      max-width: 70.1%;
      margin: auto;
      padding-top: 1.181em;
      .color(#FFFFFF);
      padding-bottom: 2.688em;
    }

    .imageContainer {
      margin-left: -1.5em;
      margin-right: -1.5em;
    }
    
  }
}

@media (max-width: 480px) {
  .newspage1 {
    // width: 375px;
    // height: 310px;
    // background-image: url("../../images/aboutus/bannerbg480.png");
    background-image: url("../../images/inthenews/inner_page_banner.jpeg");
    clip-path: url(#myCurve);
    padding: 0px 1.25em;
    .breadcrumbFlex {
      > div:last-child {
        display: inline;
      }
    }
    .desc {
      max-width: 100%;
      text-align: center;
    }
    .title {
      font-size: 2.4em;
      line-height: 1.5em;
      margin-bottom: 0.75em;
      color: #fff;
      top: 0px;
      position: relative;
      width: 80%;
    }
    .date {
      //   position: absolute;
      //   bottom: 2em;
      //   left: 50%;
      //   transform: translateX(-50%);

      font-size: 1.5em;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      //   margin-top: 2em;
      text-transform: uppercase;
    }
    .main-head {
      //   min-height: 40vh;

      .back-btn {
        position: relative;
        top: 2em;
        left: 0px;
        margin-bottom: 21px;
        margin-top: 30px;

        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        cursor: pointer;
        a {
          font-size: 14px;
        }
        a:hover {
          color: #ffffff !important;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .newsContent {
    padding: 20px 15px;
    ul {
      padding-left: 20px;
      li::marker {
        color: #0bb443 !important;
      }
      li {
        // margin: 20px 0px;
      }
    }
    > * {
      // padding-left: 20px;
      // font-size: 1.6em;
      // font-weight: normal;
      // font-stretch: normal;
      // font-style: normal;
      // line-height: 1.625;
    }
    * {
      // margin: 0px;
      // font-weight: normal;
      // font-stretch: normal;
      // font-style: normal;
      // line-height: 1.625;
      // letter-spacing: 0.32px;
      // text-align: left;
      // color: #333333;
    }
  }
  .news-footer {
    padding: 0px 10px;
    padding-bottom: 50px;
    background-color: #eaeaea;
    background-image: url("../../images/inthenews/news_footer_bg.png");
    .more-articles {
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.92;
      letter-spacing: normal;
      text-align: left;
      color: #333333;
      padding-left: 15px;
    }
    > a,
    a:hover {
      display: contents;
      text-decoration: none;
    }
  }
}

@media (min-width: 480px) {
  .newspage2 {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 100px;
    background-color: #eeeeee;
  }
}
@media(max-width: 1366px){
  .newspage1 {
    // min-height: 400px !important;
    height: 100%;
    background-position: inherit;
  }
  .newspage1 .main-head {
    padding: 6.244em 0px 6.125em ;
    left: 100px;
    width: 100%;
    left: 0px;
    position: relative;
  }
  // .newspage1 .title {
  //   min-height: 1.867em;
  // }
  .news-footer .articles .newsItemContainer{
    max-width: 31%;
  }
  .newsContent {
    padding: 5em 8em 5em;
  }
  .newsContent ul {
    padding-left: 0px;
  }
}
@media (min-width:2560px){
  .news-footer{
    background-position: unset;
  }
 .newsItemContainer .lenderItem {
  width: 100%;
 } 
 .newsItemContainer .lenderItem .itemTitle {
  min-height: 3em;
 }
}
@media (max-width:1920px){
  // .main-head .back-btn a{
  //   text-decoration: underline;
  // }

  .news-footer .articles .newsItemContainer{
    margin: 25px 25px 25px 0px;
  }
  .newsItemContainer .lenderItem .itemTitle {
    min-height: 3.2em;
  }
  .news-footer .articles .newsItemContainer .lenderItem .itemTitle{
    min-height: 3.2em;
    height: 3em;
    font-family: "Merriweather Sans";
    font-weight: bold;
    font-size: 1.563em;
    letter-spacing: 0.5px;
    line-height: 1.52em;
    color: #333333;
  }
  .news-footer .articles .newsItemContainer .lenderItem .itemDate{
    font-family: "Merriweather Sans";
    font-size:1.125em;
    font-weight: bold;
    line-height: 1.667em;
    letter-spacing: 0px;
    text-align: left;
    color: #3bb859;
  }

  .news-footer .articles .newsItemContainer .lenderItem .itemDescrip {
    font-family: "Merriweather Sans";
    font-weight: normal;
    font-size: 1.125em;
    letter-spacing: 0.36px;
    line-height: 1.667em;
    color: #333333;
  }
 .news-footer .articles .newsItemContainer .lenderItem:hover .itemDescrip{
  color:#FFFFFF;
  }
  .news-footer .articles .newsItemContainer .lenderItem:hover .itemDate{
    color:#FFFFFF;
  }
  .news-footer .articles .newsItemContainer .lenderItem:hover .itemTitle{
    color:#FFFFFF;
  }
 .newspage1 .main-head .back-btn{
   top: 2em;
 }
 .newsContent {
  padding: 5em 6.5em 5em;
  margin: 0px 0px 20px 0px;
  font-family: "Merriweather Sans";
  font-weight: normal;
  font-size:  1.563em;
  letter-spacing:0px;
  line-height: 1.800em;
  text-align: left;
  color: #333333;
}
}
@media (max-width:1366px){
  .newspage1 .main-head .back-btn{
    top: 4em;
  }
}
@media (max-width:1600px){
  .news-footer .articles .newsItemContainer {
    margin: 24px;
  }
}
@media (max-width:1520px){
  .news-footer .articles .newsItemContainer {
    margin: 23px;
  }
}
@media(min-width:1376px) and (max-width: 1440px){
  .newspage1 .main-head .back-btn {
   top: 3em;
  }
}
@media only screen and (max-width:1194px){
  .news-footer .articles .lenderItem{
    min-height: auto;
  }
  .news-footer .articles .newsItemContainer {
    margin: 13px;
  }
}
@media(max-width: 834px){
  // .newspage1 {
  //   // min-height: 310px !important;
  // }
  .newspage1 .title {
    font-size: 2.4em;
    line-height: 1.500em;
    letter-spacing: 0px;
    padding-top: 0px; 
    padding-top: 0px; 
    text-align: center;
    font-family: "Merriweather Sans";
    font-weight: bold;
    color: #fff;
    max-width: 75%;
  }
  .newspage1 .date {
    font-family: "Merriweather Sans";
    font-size: 1.4em;
    font-weight: normal;
    line-height: 2.143em;
    letter-spacing: 0.28px;
    text-align: center;
    color: #ffffff;
    margin-top: 2em;
    text-transform: uppercase;
  }
  .newsContent {
    padding: 5em 4em 5em;
    margin: 0px 0px 20px 0px;
    font-family: "Merriweather Sans";
    font-weight: normal;
    font-size: 1.6em;
    letter-spacing: 0.32px;
    line-height: 1.625em;
    text-align: left;
    color: #333333;
  }
  .newspage1 .main-head .back-btn {
    top: 4.5em;
  }
  // .newsContent > p span {
  //   font-size: 1.6em;
  // }
  // .newsContent > ul li {
  //   margin: 0px 0px 20px 0px;
  //   font-family: "Merriweather Sans";
  //   font-weight: normal;
  //   font-size: 1.6em;
  //   letter-spacing: 0.32px;
  //   line-height: 1.625em;
  //   text-align: left;
  //   color: #333333;
  // }
  .news-footer {
    padding: 1.25em 1.25em 4.688em 1.25em;
    background-image: url("../../images/inthenews/news_footer_bg.png");
    background-size: 100%;
    // min-height: 500px;
    background-repeat: no-repeat;
    // background-position: right;
    background-size: cover;
  }
  .news-footer .more-articles {
    font-family: "Merriweather Sans";
    font-size: 2.4em;
    font-weight: bold;
    line-height: 2.917em;
    letter-spacing: 0px;
    text-align: center;
    color: #333333;
    padding:0px;
  }
  .news-footer .articles {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    // flex-direction: column;
  }
  .news-footer .articles .newsItemContainer {
    max-width: 45%;
    margin: 1.75em;
  }

  .newsItemContainer .lenderItem {
    border-radius: 1.25em;
    margin-top: 0px;
    padding: 1.5em !important;
    min-height: auto;
  }

  .news-footer .articles .newsItemContainer .lenderItem .itemTitle {
    min-height: 3.2em;  
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Merriweather Sans";
    line-height: 1.5em;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
  }
  .news-footer .articles .newsItemContainer .lenderItem .itemDate {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Merriweather Sans";
    line-height: 2.143em;
    letter-spacing: 0.28px;
    color: #3bb859;
    padding-top: 1em;
    padding-bottom: 0px;
  }
  .lenderItem .readMore{
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .news-footer .articles .newsItemContainer .lenderItem .itemDescrip {
    font-size: 1.4em;
    font-weight: normal;
    font-family: "Merriweather Sans";
    line-height: 1.625em;
    letter-spacing: 0.32px;
    color: #333333;
    padding-top: 1em;
  }
}
@media(max-width:768px){
  .news-footer .articles {
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
 }
 .news-footer .articles .newsItemContainer {
  max-width: 44%;
  margin: 1.75em;
 }
 .news-footer .articles a{
    display: contents;
  }
}
@media(max-width:767px){
  .news-footer .articles {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .news-footer .articles .newsItemContainer {
    max-width: 45%;
    margin: 0px;
    margin-bottom: 1em;
  }
  .news-footer {
    // padding: 1.25em 1.25em 4.688em 1.25em;
    background-image: url("../../images/inthenews/itn_375_mb.svg");
    background-size: 100%;
    // min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .newsContent{
    padding: 1.5em 1.25em 1.5em 3em;
  }
  .newsContent {
    * 
    > p strong u{
      // font-family: "Merriweather Sans";
      // font-weight: normal;
      // font-size:1.2em;
      // letter-spacing: 0.32px;
      // line-height: 1.625em
      // ;
    }
    > p span{
      // font-family: "Merriweather Sans";
      // font-weight: normal;
      // font-size:1em;
      // letter-spacing: 0.32px;
      // line-height: 1.625em ;
      
    }
    > ul li{
      // font-family: "Merriweather Sans";
      // font-weight: normal;
      // font-size:1em;
      // letter-spacing: 0.32px;
      // line-height: 1.625em
      // ;
    } 
  }

  .newspage1 .main-head {
    padding: 5em 0px 3.3em;
    left: 100px;
    width: 100%;
    left: 0px;
    position: relative;
  } 
  .newspage1 .main-head .back-btn {
    top: -2.5em;
  }
  .newspage1 .title {
    font-family: "Merriweather Sans";
    font-weight: bold;
    font-size: 2.4em;
    letter-spacing: 0px;
    line-height: 1.5em;
    color: #ffffff;
    padding-top: 0px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
  }
  .news-footer {
    background-image: url("../../images/inthenews/itn_375_mb.svg");
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .newsItemContainer .lenderItem{
    height: auto;
  } 
  .news-footer{
    padding-top: 0;
  }
  .news-footer .more-articles{
    text-align: left;
  }
  .newsContent > *  {
    padding-left: 0px;
  }
}
@media (max-width:480px){
  .news-footer .more-articles{
    padding-left: 0.875em;
  }
  .newsContent > p strong u {
    // font-family: "Merriweather Sans";
    // font-weight: normal;
    // font-size: 1.6em;
    // letter-spacing: 0px;
    // line-height: 1.8em;
}
}
@media(max-width: 375px){
  .newspage1 {
    // min-height: 310px !important;
    height: 100%;
    background-position: inherit;
  }
  .newspage1 .main-head .back-btn {
    position: relative;
    top: -2em;
    left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: "Merriweather Sans";
    font-weight: normal;
    font-size: 1.4em;
    letter-spacing: 0px;  
    color: #ffffff;
    cursor: pointer;
}
  .newspage1 .main-head {
    padding: 6.5em 0 3.3em 0;
    left: 100px;
    width: 100%;
    left: 0px;
    position: relative;
  }
  .newspage1 .title{
    font-family: "Merriweather Sans";
    font-weight: bold;
    font-size: 2.4em;
    letter-spacing: 0px;
    line-height: 1.500em;
    color: #ffffff;
    padding-top: 0px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
  }

  .newspage1 .date {
    font-family: "Merriweather Sans";
    font-weight: normal;
    font-size: 1.4em;
    letter-spacing: 0.28px;
    line-height:2.143em;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 1.351em;
  }
  .newsContent {
    padding:1.5em 1.25em 1.5em 3em; 
  }
  // .newsContent *{
  //   margin: 0px 0px 0.938em 0px;
  //   font-family: "Merriweather Sans";
  //   font-weight: normal;
  //   font-size: 1.6em;
  //   letter-spacing: 0.32px;
  //   line-height: 1.625em;
  // }
  .news-footer {
    background-image: url("../../images/inthenews/itn_375_mb.svg");
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .newsItemContainer .lenderItem{
    padding: 2em 1.5em 0em 1.5em;
  }
  .newsItemContainer .lenderItem .itemTitle{
    padding-bottom: 3.167em;
  }
  .news-footer .more-articles{
    padding-left:0.625em;
  }

}