@import url("../../common.less");

.careersec1 {
  min-height: 35vh;
  padding-left: 1.25em;
  padding-right: 1.25em;
  z-index: 9;
  position: relative;

  //   height: 46.875em;
  background-image: url("../../images/aboutus/bannerbg2560.png");
  background-position: center;
  background-size: cover;

  .title {
    .f90();
    .t-c();
    .fontbold();
    color: #fff;
  }

  .desc {
    .f30();
    // .t-c();
    .fontreg();
    padding-top: 0.7em;
    .color(#FFFFFF);
  }
}

@media (width: 1024px) {
  .careersec1 {
    background-image: url("../../images/aboutus/bannerbg1024.png");
    background-position: center;
    background-size: cover;
    .main-head {
      z-index: 999999;
      position: absolute;
      top: 50%;
      left: 100px;
    }
  }
}

@media (min-width: 834px) {
  .careersec1 {
    height: 100vh;
    .main-head {
      z-index: 999999;
      position: absolute;
      top: 50%;
      left: 100px;
    }
  }
  .main-news {
    display: flex;
    width: 55%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    position: relative;
    bottom: 150px;
    z-index: 9;
    background: #fff;

    .details {
      padding: 30px;
      max-width: 60%;

      .title {
        font-size: 2em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
      }
      .date,
      .read-more {
        font-size: 1em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: #3bb859;

        padding: 1em 0px;
      }
      .desc {
        font-size: 1.5em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: 0.5px;
        text-align: left;
        color: #333333;
      }
    }
    .image {
      background-image: url("../../images/inthenews/innews_bg.png");
    }
  }
}
@media (max-width: 834px) {
  .careersec1 {
    background-image: url("../../images/aboutus/bannerbg834.png");
    background-position: center;
    background-size: cover;
    // .mbPadding();

    .title {
      .mf50();
      padding-top: 1.16em;
      padding-top: 0.5em;
      .t-c();
      .fontbold();
      color: #fff;
    }

    .desc {
      .mf18();
      width: 100%;
      max-width: 70.1%;
      margin: auto;
      padding-top: 1.181em;
      .color(#FFFFFF);
      padding-bottom: 2.688em;
    }

    .imageContainer {
      margin-left: -1.5em;
      margin-right: -1.5em;
    }
  }
}
@media (max-width: 834px) {
}
@media (max-width: 480px) {
  .careersec1 {
    background-image: url("../../images/aboutus/bannerbg480.png");
    clip-path: url(#myCurve);
    .desc {
      max-width: 100%;
      text-align: center;
    }
  }
}

@media (min-width: 834px) {
}

@media (max-width: 834px) {
}
