@import url("../../common.less");

.newssec2 {
  margin-top: 13.438em;
}
.newssec1 {
  .fontreg();
  //min-height: 35vh;
  padding-left: 6.25em;
  padding-right: 6.25em;
  height: 46.875em;
  position: relative;
  background-image: url("../../images/aboutus/bannerbg2560.png");
  background-position: center;
  background-size: cover;

  .title {
    font-family: "Merriweather Sans";
    font-weight: bold;
    font-size: 5.625em;
    letter-spacing: 0px;
    line-height: 1.222em;
    color: #fff;
    padding-top: 0.7em;
  }

  .desc {
    font-family: "Merriweather Sans";
    font-weight: normal;
    font-size: 1.563em;
    letter-spacing: 0.5px;
    line-height: 1.600em;
    color: #FFFFFF;
    padding-top: 0.7em;
    width: 50%;
    margin: auto;
    padding-bottom: 15.200em;
    // visibility: hidden;
    display: none;
  }
}
.main-news-section {
  .fontreg();
}
.newssec2 {
  .fontreg();
  .pagination_container {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    // margin-top: 40px;
    align-items: center;
    position: relative;
    padding: 30px 0px;
    // top: -100px;
    > ul {
      display: flex;
      width: 40%;
      justify-content: space-between;
      padding: 0px 10px;
      font-size: 2em;
      color: #333333;
      //   font-size: 1.5em;
      font-weight: 400;
      padding: 0px 10px;
      font-size: 2em;
      color: #b3b3b3;
      li.active {
        color: #333333;
      }
    }
    .extreme-end-page {
      font-size: 18px;
      // font-weight: normal;
      // font-style: normal;
      // line-height: normal;
      // letter-spacing: normal;
      text-align: left;
      color: #3bb859;
    }
    > * {
      margin: 0px 10px;
      cursor: pointer;
    }
    .disabled {
      opacity: 0.3;
    }
    button {
      border: none;
      background: transparent;
      font-size: 1.5em;
      // font-weight: normal;
      // font-stretch: normal;
      // font-style: normal;
      line-height: 1em;
      letter-spacing: 0.45px;
      text-align: left;
      color: #b3b3b3;
      &.active {
        color: #333333;
      }
    }
  }
}

@media (width: 1024px) {
  .newssec1 {
    background-image: url("../../images/aboutus/bannerbg1024.png");
    background-position: center;
    background-size: cover;
    .main-head {
      position: absolute;
      top: 20%;
      left: 100px;
    }
  }
}

@media (min-width: 834px) {
  .newssec1 {
    //height: 75vh;
    .main-head {
      // position: relative;
      // top: 10%;
      text-align: center;
      //   left: 100px;
      
    }
  }
  .main-news-section {
    // height: 208px;
    .fontreg();
  }
  .main-news {
    cursor: pointer;
    display: flex;
    width: 100%;
    max-width: 62.5%;
    margin: 0;
    // width: 70%;
    // width: 1200px;
    // height: 426px;
    // position: relative;
    left: 50%;
    
    // margin: 0 auto;
    position: absolute;
    // bottom: 6.875em;
    top: 27.875em;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    overflow: hidden;
    // position: relative;
    // bottom: 150px;

    background: #fff;

    .details {
      padding: 30px;
      max-width: 50%;
       min-width: 50%;
      display: flex;
      flex-direction: column;
         justify-content: space-around;
      // > *:not(:last-child) {
      //   // margin-bottom: 32px;
      // }

      .title {
        font-family: "Merriweather Sans";
        font-weight: bold;
        font-size: 2em;
        line-height: 1.8em;
        letter-spacing: 0px;
        text-align: left;
        color: #333333;
      }
      .date,
      .read-more {
        font-family: "Merriweather Sans";
        font-weight: normal;
        font-size: 1.125em;
        line-height: 1.667em;
        letter-spacing: 0;
        text-align: left;
        color: #3bb859;
        // padding: 1em 0px;
      }
      .read-more {
        text-decoration: underline;
      }
      .desc {
        font-family: "Merriweather Sans";
        font-size: 1.563em;
        font-weight: normal;
        line-height:1.800em;
        letter-spacing: 0.5px;
        text-align: left;
        color: #333333;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
      }
    }
    .image {
      // width: 100%;
      // max-width: 100%;
      img {
        width: 100%;
        max-width: 100%;
        display: block;
        // height: auto;
      }
      //   background-image: url("../../images/inthenews/innews_bg.png");
    }
  }
  .newssec2 {
    position: relative;
    // top: -100px;
    // margin-top: 200px;
    background-color: #eeeeee;
    .dropdowns {
      display: flex;
      justify-content: center;
      padding: 60px 120px;
      position: relative;
      //   top: -200px;
      background-color: #eeeeee;
      > select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='11' viewBox='0 0 26 11'><path id='Polygon_1' data-name='Polygon 1' d='M13,0,26,11H0Z' transform='translate(26 11) rotate(180)' fill='#dfdfdf'/></svg>") !important;
        // background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
        background-image: url("data:image/svg+xml;utf8,<svg fill='grey' xmlns='http://www.w3.org/2000/svg' width='26' height='11' viewBox='0 0 26 11'><path d='M13,0,26,11H0Z' transform='translate(26 11) rotate(180)' fill='lightgrey'/></svg>") !important;
        background-repeat: no-repeat !important;
        background-position-x: 95% !important;
        background-position-y: 30px;
        border: none;

        background-color: #ffffff;
        margin: 0px 10px;
        font-size:1.563em;
        // font-weight: normal;
        // font-stretch: normal;
        // font-style: normal;
        line-height: 1.52;
        letter-spacing: 0.5px;
        text-align: left;
        color: #3bb859;
        min-width: 30%;
        border-radius: 10px;
        height: 65px;
        box-shadow: 0 6px 11px 0 #00000014;
        padding-left: 1em;
        &:first-child {
          min-width: 50%;
        }
        &:last-child {
          min-width: 30%;
        }
      }
    }
  }
}
@media (max-width: 834px) {
  .newssec1 {
    background-image: url("../../images/aboutus/bannerbg834.png");
    background-position: center;
    background-size: cover;
    // .mbPadding();

    // .title {
    //   .mf50();
    //   padding-top: 1.16em;
    //   padding-top: 0.5em;
    //   .t-c();
    //   .fontbold();
    //   color: #fff;
    // }

    // .desc {
    //   font-weight: 300;
    //   font-size: 1em;
    //   width: 100%;
    //   max-width: 70.1%;
    //   margin: auto;
    //   padding-top: 1.181em;
    //   .color(#FFFFFF);
    //   padding-bottom: 2.688em;
    // }

    .imageContainer {
      margin-left: -1.5em;
      margin-right: -1.5em;
    }
  }
  .main-news {
    cursor: pointer;
    display: flex;
    // max-width: 55%;
    position: relative;
    // left: 50%;
    // transform: translateX(-50%) translateY(-65%);
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    // overflow: hidden;
    // bottom: 150px;
    background: #fff;

    .details {
      padding: 30px;
      max-width: 55%;
      min-width: 55%;

      .title {
        font-size: 2em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
      }
      .date,
      .read-more {
        font-size: 1em;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: #3bb859;
        padding: 1em 0px;
      }
      .read-more {
        text-decoration: underline;
      }
      .desc {
        font-size: 1.5em;
        font-weight: 300;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: 0.5px;
        text-align: left;
        color: #333333;
      }
    }
    // .image {
    //   // max-width: 45%;
    //   //   max-width: 45%;
    //   //   background-image: url("../../images/inthenews/innews_bg.png");
    // }
  }
  .newssec2 {
    .pagination_container {
      top: 0px;
      margin-top: 0px;
      padding: 30px 0px;
      width: 80%;
      ul {
        width: 80%;
      }
    }
  }
}

@media (max-width: 480px) {
  .newssec1 {
    background-image: url("../../images/aboutus/bannerbg834.png");
    background-position: center;
    background-size: cover;
    // .mbPadding();
    //min-height: 50vh;
    padding: 0px 20px;

    .main-head {
      // top: 50px;
      // position: relative;
      margin-top: 3.8em;
    }

    .title {
      padding-top: 0px;
      font-size: 5em;
      letter-spacing: 0px;
      line-height: 1.200em;
      color: #fff;
      font-family: "Merriweather Sans";
      font-weight: bold;
    }

    .desc {
      font-family: "Merriweather Sans";
      font-weight: 300;
      font-size: 1.6em;
      line-height: 1.625em;
      letter-spacing: 0px;
      color: #FFFFFF;
      // font-weight: 300;
      width: 100%;
      max-width: 88%;
      text-align: center;
      margin: 0 auto;

      // margin: auto;
      // padding-top: 1.181em;
      // padding-bottom: 2.688em;
      // text-align: center;
    }

    .imageContainer {
      margin-left: -1.5em;
      margin-right: -1.5em;
    }
  }
  .main-news-section {
    max-height: 490px;
  }
  .newssec2 {
    padding: 0px;
    .itemTitle {
      font-family: "Merriweather Sans";
      font-weight: bold;
      font-size: 2.4em;
      line-height: 1.500em;
      letter-spacing: 0px;
      padding-bottom: 3em;


      padding-top: 0px;
      max-height: 3em;
      min-height: 60px;
    }
    background-color: #eeeeee;
    .list {
      display: flex;
      flex-wrap: wrap;
      padding: 0px 10px 0px 10px;
      background-color: #eeeeee;
      //min-height: 30vh;
      //   justify-content: space-around;

      align-items: center;
      .no-news {
        color: grey;
        font-size: 2.5em;
        position: relative;
        text-align: center;
        width: 100%;
      }
      > a,
      a:hover {
        display: contents;
        text-decoration: none;
      }
    }
    .dropdowns {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0px;
      position: relative;
      top: 0px;
      background-color: #eeeeee;
      padding: 0px 20px;
      > select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='11' viewBox='0 0 26 11'><path id='Polygon_1' data-name='Polygon 1' d='M13,0,26,11H0Z' transform='translate(26 11) rotate(180)' fill='#dfdfdf'/></svg>") !important;
        // background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
        // background-image: url("data:image/svg+xml;utf8,<svg fill='grey' xmlns='http://www.w3.org/2000/svg' width='26' height='11' viewBox='0 0 26 11'><path d='M13,0,26,11H0Z' transform='translate(26 11) rotate(180)' fill='lightgrey'/></svg>") !important;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18.507' height='7.83' viewBox='0 0 18.507 7.83'><path id='Polygon_1' data-name='Polygon 1' d='M9.254,0l9.254,7.83H0Z' transform='translate(18.507 7.83) rotate(180)' fill='lightgrey'/></svg>") !important;
        background-repeat: no-repeat !important;
        background-position-x: 95% !important;
        background-position-y: 20px;

        border: none;
        background-color: #ffffff;
        
        font-family: "Merriweather Sans";
        font-weight: normal;
        font-size: 1.8em;
        line-height: 2.111em;
        letter-spacing: 0.36px;
        // font-weight: normal;
        // font-stretch: normal;
        // font-style: normal;
        // margin: 10px 0px;
        
        text-align: left;
        color: #3bb859;
        min-width: 80%;
        flex-wrap: wrap;
        border-radius: 5px;
        height: 50px;
        box-shadow: 0 6px 11px 0 #00000014;
        padding-left: 1em;
        &:first-child {
          margin: 20px 0px 0px 0px;
        }
        &:last-child {
          margin: 15px 0px 20px 0px;
        }
      }
    }
  }
  .newsItemContainer .lenderItem .itemDate{
    font-family: "Merriweather Sans";
    font-weight: normal;
    font-size: 1.4em;
    line-height: 2.143em;
    letter-spacing: 0.28px;
    padding: 0;
  }

  .newsItemContainer .lenderItem .readMore{
    font-family: "Merriweather Sans";
    font-weight: normal;
    font-size: 1.4em;
    line-height: 2.143em;
    letter-spacing: 0.28px;
    padding: 0;
    margin: 0 ;
  }

  .main-news {
    width: 345px;
    height: 530px;
    display: flex;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    // width: 90%;
    //bottom: 100px;
    flex-direction: column;

    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    overflow: hidden;
    background: #fff;

    .details {
      padding: 15px 10px;
      max-width: 55%;
      min-width: 55%;
      order: 2;
      width: 100%;
      max-width: unset;

      .title {
        font-size: 2.4em;
        line-height: 1.500em;
        letter-spacing: 0px;
        color: #333333;
        font-family: "Merriweather Sans";
        font-weight: bold;
        min-height: 79px;
        // min-height: 90px;                                                  
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
      }
      .date,
      .read-more {
        font-family: "Merriweather Sans";
        font-weight: bold;
        font-size: 1.4em;
        letter-spacing: 0.28px;
        line-height: 2.143em;
        text-align: left;
        color: #3bb859;
        padding: 0.5em 0px;

        // font-weight: normal;
        // font-stretch: normal;
        // font-style: normal;
        // line-height: 1;
        // letter-spacing: normal;
      }
      .date {
        font-weight: bold;
      }
      .read-more {
        text-decoration: underline;
      }
      .desc {
        font-family: "Merriweather Sans";
        font-weight: normal;
        font-size: 1.6em;
        letter-spacing: 0.32px;
        line-height: 1.625em;
        text-align: left;
        color: #333333;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-wrap: break-word;

        // font-weight: 300;
        // font-stretch: normal;
        // font-style: normal;
        // line-height: 1.8;
        // letter-spacing: 0.5px;
      }
    }
    .image {
      order: 1;
      width: 100%;
      max-width: unset;
      display: block;
      // min-height: 250px;

      //   max-width: 45%;
      //   background-image: url("../../images/inthenews/innews_bg.png");
    }
  }
}

@media (min-width: 480px) {
  .newssec2 {
    .list {
      display: flex;
      flex-wrap: wrap;
      padding: 0px 5em;
      //min-height: 50vh;
      justify-content: flex-start;
      background-color: #eeeeee;
      position: relative;
      align-items: center;
      .no-news {
        color: grey;
        font-size: 2.5em;
        position: relative;
        text-align: center;
        width: 100%;
      }
      //   top: -200px;
      > a,
      a:hover {
        display: contents;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 1930px) and (max-width: 2570px) {
  .newssec1 {
    //height: 70vh;
  }
  .newssec2 {
    position: relative;
    // top: -100px;
    // margin-top: 320px;
  }
  .main-news {
    height: auto;
    // bottom: 250px;
  }
}

@media (max-width: 1600px) and (min-width: 960px) {
  .newssec1 {
   // height: 55vh;
  }
  .newssec2 {
    position: relative;
    // top: -100px;
    // margin-top: 200px;
  }
  .main-news {
    height: auto;
    // bottom: 36.000em;
  }
}

@media (max-width: 1550px) and (min-width: 960px) {
  .newssec1 {
   // height: 75vh;
  }
  .newssec2 {
    position: relative;
    // top: -100px;
    // margin-top: 200px;
  }
  .main-news {
    height: auto;
    // bottom: 6em;
  }
}
@media (max-width: 1450px) and (min-width: 960px) {
  // .newssec1 {
  //   // height: 54vh;
  // }
  // .main-news {
  //   // bottom: 230px;
  // }
  .newssec2 {
    position: relative;
    // top: -100px;
    // margin-top: 210px;
  }
  .main-news {
    height: auto;
    //bottom: 70px;
  }
}

@media (max-width: 1370px) and (min-width: 960px) {
  .newssec1 {
   // height: 75vh;
  }
  .newssec2 {
    position: relative;
    // top: -100px;
    // margin-top: 16.313em;
  }
  .main-news {
    height: auto;
    //bottom: 80px;
  }
  .newsItemContainer {
    max-width: 31%;
    margin: 20px 1.2em;
}
}

@media (max-width: 1280px) and (min-width: 960px) {
  .newssec2 {
    position: relative;
    // top: -100px;
    // margin-top: 170px;
  }
  .main-news {
    height: auto;
  }
  .image {
    img {
      height: 100% !important;
      width: auto;
    }
  }
}
@media (min-width:2160px){
  .newsItemContainer {
    // max-width: 36%;
    margin: 1.37em;
  }
  .newsItemContainer .lenderItem .itemTitle {
    min-height: 3em;
 }
  .newsItemContainer .lenderItem {
    width: auto;
    height: auto;
 }
 .newssec2 .dropdowns > select {
  height: 80px;
 }
  
 }
@media (min-width: 1920px) {
  .newssec2 {
    margin-top: 13.438em;
  }
  .newsItemContainer {
    max-width: 30%;
    margin: 1.813em ;
  }
  .main-news .image img{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  .newsItemContainer .lenderItem .itemTitle {
    min-height: 3.2em;
    height: 3em;
    font-family: "Merriweather Sans";
    font-weight: bold;
    font-size: 1.563em;
    letter-spacing: 0.5px;
    line-height: 1.520em;
    color: #333333;
  }
  .newsItemContainer .lenderItem:hover .itemTitle{
    color:#FFFFFF;
  }
  .newsItemContainer .lenderItem .itemDescrip {
    font-family: "Merriweather Sans";
    font-weight: normal;
    font-size: 1.125em;
    letter-spacing: 0.36px;
    line-height: 1.667em;
    color: #333333;
  }
  .lenderItem:hover .itemDescrip{
    color:#FFFFFF;
  }
}
@media (max-width: 1600px) {
  .newsItemContainer {
    max-width: 30%;
    margin: 1.9em;
  }
  .newssec2 {
   margin-top: 17em;
  }
}
@media (max-width: 1520px) {
  .newsItemContainer {
    max-width: 30%;
    margin: 2em;
  }
  .newssec2 {
    // margin-top: 13em;
  }
  .main-news{
    top:26.875em;
  }
}
@media (max-width: 1440px) {
  .main-news{
    // bottom:9.875em;
  }
  .newsItemContainer {
    max-width: 30%;
    margin: 2em;
  }
  .newssec2 {
    // margin-top: 16em;
  }
}
@media(max-width:1376px){
  .main-news {
    // bottom: 7.000em;
 }
 .newsItemContainer{
   margin: 1.8em;
 }
 .newssec2 {
  margin-top: 15em;
}
}
@media (max-width: 1366px) {
  .main-news {
    // bottom: 8.000em;
 }
  .newsItemContainer {
    max-width: 30%;
    margin:2em;
  }
  .newssec2 {
    // margin-top: 14em;
  }
}
@media (max-width: 1280px) {

  .newsItemContainer {
    max-width: 30%;
    margin: 1.8em;
  }
  .main-news{
    // bottom: 9.250em;
  }
}
@media only screen and (width:1024px) {
  .newssec1 .main-head{
    position: relative;
    top: 20%;
    left: 0;
  }
  .newssec2 .newsItemContainer{
    margin: 1.7em;
  }
  .newssec2 .list .lenderItem{
    min-height:  auto;
  } 
}
@media(max-width: 834px){
  .newssec1 {
    //height: auto;
    height: 33.875em;
  }

  .newssec1 .title {
    font-size: 5em;
    letter-spacing: 0.25px;
    padding-top: 1.16em;
    padding-top: 1em;
    text-align: center;
    font-family: "Merriweather Sans";
    font-weight: bold;
    color: #fff;
  }
  .newssec1 .desc {
    font-family: "Merriweather Sans";
    font-weight: normal;
    font-size: 1.6em;
    letter-spacing: 0px;
    line-height: 1.625em;
    color: #FFFFFF;
    width: 100%;
    max-width: 72%;
    margin: 0 auto;
    text-align: center;
  }
  .main-news{
    margin: 0px;
    width: 100%;
    max-width: 90%;
    // height: auto;
    // bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: -140px;
  }
  .main-news .details .title {
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Merriweather Sans";
    line-height: 1.500em;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
  }
  .main-news .details .date, .main-news .details .read-more {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Merriweather Sans";
    line-height: 2.143em;
    letter-spacing: 0.28px;
    color: #3bb859;
    padding: 0px;
  }
  .main-news .details .desc {
    font-size: 1.4em;
    font-weight: normal;
    font-family: "Merriweather Sans";
    line-height: 1.625em;
    letter-spacing: 0.32px;
    text-align: left;
    color: #333333;
  }
  .newssec2 {
    position: relative;
    margin-top: -100px;
    background-color: #eeeeee;
  }
  .main-news .details {
    padding: 20px;
    max-width: 50%;
    width: 100%;
    min-width: 50%;
  }
  .newssec2 .dropdowns > select:first-child {
    min-width: 70%;
  }
  .newssec2 .dropdowns > select:last-child {
    min-width: 40%;
  }
  .newsItemContainer {
    max-width: 46%;
    min-width: 300px;
    margin: 1.5em 1em;
  }
  .newssec2 .list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 1.315em;
    //min-height: 50vh;
    justify-content: space-between;
    background-color: #eeeeee;
    position: relative;
    align-items: center;
  }
  .newssec2 .dropdowns > select {
    font-family: "Merriweather Sans";
    font-size: 1.8em;
    letter-spacing: 0.36px;
    line-height:2.11em;
    font-weight: normal;
    color: #3BB859;
  }
  .lenderItem .itemTitle {
    min-height: 3.2em;
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Merriweather Sans";
    line-height: 1.5em;
    letter-spacing: 0px;
    
  }
  .lenderItem .itemDate,.lenderItem .readMore {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Merriweather Sans";
    line-height: 1.143em;
    letter-spacing: 0.28px;
    padding-top: 1em;
    padding-bottom: 0;
  }
  .lenderItem .readMore{
    padding-top: 0px;
  }
  .lenderItem .itemDescrip {
    font-size: 1.4em;
    font-weight: normal;
    font-family: "Merriweather Sans";
    line-height: 1.625em;
    letter-spacing: 0.32px;
    color: #333333;
    padding-top: 1em;

    // -webkit-line-clamp: 3;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // word-wrap: break-word;
  }
  .newsItemContainer .lenderItem {
    border-radius: 1.25em;
    margin-top: 0;
    padding: 1.5em !important;
    min-height: auto;
  }
}
// @media(max-width:833px){
//   .newssec2 .dropdowns > select {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     background: transparent;
//     background-repeat: no-repeat !important;
//     background-position-x: 95% !important;
//     background-position-y: 30px;
//     border: none;
//     background-color: #ffffff;
//     margin: 0px 10px;
//     color: #3bb859;
//     min-width: 30%;
//     border-radius: 10px;
//     height: 65px;
//     box-shadow: 0 6px 11px 0 #00000014;
//     padding-left: 1em;
//     font-family: "Merriweather Sans";
//     font-size: 1.8em;
//     letter-spacing: 0.36px;
//     line-height: 2.11em;
//     font-weight: normal;
//     color: #3BB859;
//     background-image: url("data:image/svg+xml;utf8,<svg fill='grey' xmlns='http://www.w3.org/2000/svg' width='26' height='11' viewBox='0 0 26 11'><path d='M13,0,26,11H0Z' transform='translate(26 11) rotate(180)' fill='lightgrey'/></svg>") !important;
//    }
//    .newssec2 .dropdowns {
//     padding: 1.5em 1.5em;
//   }
//   .newssec2 .dropdowns > select:first-child {
//     min-width: 97%;
//     margin-bottom: 1.5em;
//   }
//   .newssec2 .dropdowns > select:last-child {
//     min-width: 97%;
//   }
// }
@media (max-width: 768px){
  .main-news .details .desc {
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }
  .main-news .details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main-news{
    top: -120px;
  }
  .main-news .image img{
    border-radius: 0px 20px 20px 0px;
  }
  .newssec2 {
    margin-top: -80px;
 }
 .newssec1 .desc {
  width: 100%;
  max-width: 79%;
 }
 .newssec2 .dropdowns > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-repeat: no-repeat !important;
  background-position-x: 95% !important;
  background-position-y: 30px;
  border: none;
  background-color: #ffffff;
  margin: 0px 10px;
  color: #3bb859;
  min-width: 30%;
  border-radius: 10px;
  height: 65px;
  box-shadow: 0 6px 11px 0 #00000014;
  padding-left: 1em;
  font-family: "Merriweather Sans";
  font-size: 1.8em;
  letter-spacing: 0.36px;
  line-height: 2.11em;
  font-weight: normal;
  color: #3BB859;
  background-image: url("data:image/svg+xml;utf8,<svg fill='grey' xmlns='http://www.w3.org/2000/svg' width='26' height='11' viewBox='0 0 26 11'><path d='M13,0,26,11H0Z' transform='translate(26 11) rotate(180)' fill='lightgrey'/></svg>") !important;
 }
 .newssec2 .dropdowns {
  display: flex;
  justify-content: center;
  padding: 60px 120px;
  position: relative;
  background-color: #eeeeee;
  }


}
@media (max-width:767px){
  .newssec1 {
    height: 33.875em;
  }
  .newssec1 .desc{
    max-width: 100%;
    padding-bottom: 8.125em;
  }
  .newssec2 .dropdowns{
    padding: 2em 1.5em;
  }
  .newssec2 .list{
    padding: 1.5em;
  }
  .newsItemContainer{
    margin: 0;
  }
  .lenderItem {
    margin: 2em 0;
    height: auto;
  }
  .newsItemContainer{
    min-width: 100%;
  }
  .newsItemContainer .lenderItem{
    width: 100%;
    max-width: 100%;
  }
  .main-news .image img{
    border-radius: 20px 20px 0px 0px;
  }
  .newssec2 .list{
    min-height: auto;
  }

}

@media (max-width: 480px) {
  // .newssec1{
  //   min-height: auto;
  // }
  .main-news{
    width: 100%;
    max-width: 90%;
    height: auto;
    top: -80px;
    border-radius: 20px;
  }
  .main-news .details {
    padding: 20px;
    max-width: 100%;
    width: 100%;
    min-width: 50%;
  }
  .main-news .details  {
    > *:not(:last-child) {
       margin-bottom: 10px;
    }
  } 
  .main-news .details .title{
    min-height: auto;
  }
  .newssec2 {
    margin-top: -50px;
  }

}
