@import url("../../common.less");
* {
  // outline: 1px solid orangered;
  transition: 0.2s all ease;
}
.lender_breadcrumb {
  position: absolute;
  top: 8em;
  left: 7.25em;
  z-index: 55;
  color: #ffffff;
  .f14();
  .fontreg();
}
.home_crumb {
  // font-size: ;
  cursor: pointer;
}
// --------------------------------section 1--------------------------------//
// .lenderssec1 {
//   position: relative;
//   .bannerbg {
//     background-image: url("../../images/lenders/backgrounddesk.jpg");
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     // height: calc(100vh - 0.625em);
//     height: 100vh;
//     .swiper-pagination-fraction,
//     .swiper-pagination-custom,
//     .swiper-container-horizontal > .swiper-pagination-bullets {
//       left: -18em;
//     }
//   }

//   .banner_right_img {
//     position: absolute;
//     top: 0;
//     right: 0;
//     width: calc(100vw - 35.313em);
//     height: 100%;
//   }
//   .banner_slide_img {
//     position: absolute;
//     right: -4px;
//     top: 0;
//     // width:100%;
//     height: 100%;
//   }
//   .text_container {
//     position: absolute;
//     top: 28.4em;
//     left: 6.25em;
//     .title {
//       .f90();
//       .fontbold();
//       color: #ffffff;
//     }
//     .desc {
//       .f25();
//       // .fontbold();
//       .fontreg();
//       color: #ffffff;
//       margin-top: 1.12em;
//       max-width: 45%;
//     }
//     .btn_div {
//       margin-top: 2.634em;
//     }
//     //   .banner_btn {
//     //     margin-top: 2.634em;
//     //     font-size: 1.125em;
//     //     line-height: 2.444em;
//     //     letter-spacing: 0.03em;
//     //     border: 0.167em solid #3bb859;
//     //     border-radius: 5.556em;
//     //     width: 10.889em;
//     //     height: 3.944em;
//     //     text-transform: capitalize;
//     //     background-color: #333333;
//     //     color: #ffffff;
//     //     display: flex;
//     //     justify-content: center;
//     //     align-items: center;
//     //     // transition: all 0.2s ease;

//     //   }

//     //   .angle_right {
//     //     padding-left: 0.5em;
//     //     font-size: 1.5em;
//     //     transform: translateY(-0.05em);
//     //     display: none;
//     //     transition: 0.2s ease;
//     //  }
//     //  .banner_btn:hover .angle_right{
//     //    display: initial;
//     //  }
//   }

//   .swiper-pagination-bullet {
//     left: -20em;
//     border-radius: 7px;
//     background: #fff;
//     height: 0.313em;
//     width: 0.625em;
//     opacity: 1;
//   }
//   .swiper-pagination-bullet.swiper-pagination-bullet-active {
//     width: 4.375em;
//     background: #fff;
//   }
// }
.newsec1{
  position: relative;
  .newsec1_wrapper{
    height: 100vh;
  }
  .newsec1_swiper{
    height: 100%;
    
  }
  .slider_img{
    height: 100%;
  }
  
  .text_content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 22;
    width: 68.813em;
    height: 100%;    
  }
  .greenbgcut{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .text_wrapper{
    position: absolute;
    z-index: 23;
    // top: 29.688em;
    top: 55%;
    transform: translateY(-50%);
    left: 6.250em;
  }
  .title{
    .f90();
    .fontbold();
    color: #FFFFFF;
    z-index: 32;
  }
  .desc{
    .f25();
    .fontreg();
    margin-top: 1em;
    color: #fff;
    width: 100%;
    max-width: 44%;
  }
  .lenders_btn{
    margin-top: 2em;
  }
  // .swiper-pagination{
  //   position: relative;
  //   z-index: 400;
  //   bottom: 5em;
  //   background-color: #fff;
  // }
  
}

// --------------------------------section 2--------------------------------//
.lenderssec2 {
  background-image: linear-gradient(45deg, #f1fff7, #ffffff);
  padding: 7.25em 5.293em 6.625em 6.25em;

  .lendersec2_flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .flex_left {
    position: relative;
  }
  .verticalline {
    position: absolute;
    width: 1px;
    height: 35em;
    left: 3.6em;
    top: 3.4em;
    z-index: 55;
  }
  .desc_wrapper {
    width: 60em;
    height: 11.125em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5.563em;
    padding: 3.125em 5.5em 3.125em 5.688em;
    position: relative;
    cursor: pointer;
  }
  .desc_wrapper:nth-child(3) {
    margin: 6.063em 0;
  }
  .desc {
    .f25();
    .fontbold();
  }
  .dot_circle {
    width: 1.25em;
    position: absolute;
    height: 1.25em;
    top: 3.3em;
    left: 3.063em;
    z-index: 80;
  }
  .dot_circle:last-child {
    top: 1em;
  }
}
// --------------------------------section 3--------------------------------//
.lenderssec3 {
  margin-top: 6.25em;
  .heading_wrapper {
    width: 100%;
    max-width: 80.438em;
    margin: 0 auto;
    text-align: center;
  }
  .title {
    .f60();
    .fontbold();
  }
  .desc {
    .f25();
    .fontreg();
    width: 100%;
    max-width: 37.12em;
    // max-width: 928px;
    margin: 0 auto;
  }
  .card_flex {
    width: 100%;
    max-width: 107.5em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .lender_card {
    width: 19em;
    height: 19em;
    margin-top: 2.875em;
    border-radius: 1.25em;
    .bShadow3616 ();
  }
  .lender_card_img {
    width: 9.375em;
    height: 9.375em;
  }
  .card_title {
    margin-top: 1.48em;
    .fontreg();
    .f25();
    text-align: center;
    max-width: 75%;
    width: 100%;
    line-height: 1.5em;
    // padding-left: 2.500em;
    // padding-right: 2.500em;
  }
}
// --------------------------------section 4--------------------------------//
.lenderssec4 {
  background: url("../../images/lenders/partners_desktop.png") center no-repeat;
  background-size: cover;
  margin-top: 6em;
  height: 38.563em;
  // height: 44.563em;
  padding: 9em 0 6em 0;

  .title {
    color: #fff;
    .fontbold();
    .f60();
    text-align: center;
    // margin-top: 20em;
    // min-height: ;
  }
  .desc {
    .f25();
    color: #fff;
    margin-top: 0.72em;
    margin-bottom: 3.4em;
    text-align: center;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-10.813em * 24));
    }
  }
  .slider_track {
    display: flex;
    justify-content: center;
    animation: scroll 20s linear infinite;
    width: calc(10.813em * 48);
  }
  .slider_track img {
    width: 16.813em;
    height: 7.688em;
    margin: 0 1.875em;
  }
  .slider {
    position: relative;
    overflow: hidden;
  }

  .slider::before {
    content: "";
    position: absolute;
    background-image: url("../../images/lenders/gradientleft.png");
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 271px;
    z-index: 5;
  }
  .slider::after {
    content: "";
    position: absolute;
    background-image: url("../../images/lenders/gradientright.png");
    background-size: cover;
    background-position: center;
    bottom: 0;
    right: 0;
    width: 225px;
    height: 271px;
  }
}
// --------------------------------section 5--------------------------------//
.lendersec5 {
  // margin-top: 6.25em;
  padding-top: 6em;
  padding-left: 5.25em;
  padding-bottom: 4.625em;

  .first_col {
    img {
      width: 5.25em;
      height: 4.625em;
    }
    .quote_content {
      padding-left: 1.125em;
      padding-top: 3.844em;
    }
    .title {
      .f60();
      .fontbold();
      .c3();
      width: 90%;
    }
    .desc {
      .f25();
      .fontreg();
      .c3();
      margin-top: 1.5em;
    }
  }
  .second_col {
    .arrows_wrapper {
      width: 3.313em;
      height: 7.963em; //
      justify-content: space-between;
      user-select: none;
    }
    .left_arrow,
    .right_arrow {
      cursor: pointer;
    }
  }
  .third_col {
    margin-top: 2em;

    .partner_wrapper {
      width: 44.5em;
      height: 27.188em;
      position: relative;
      background-image: url("../../images/lenders/cardbg.svg");
      background-position: center;
      background-size: cover;
      // .bShadow3616();
      //   margin-right: 10px;
    }
    .partner_img {
      width: 16.813em;
      height: 7.688em;
      position: absolute;
      left: 24.375em;
      // .bShadow3616();
      // bottom: 19.5em;
    }
    .partner_content {
      padding-left: 3.188em;
      padding-top: 7.688em;
      padding-bottom: 1em;
    }
    .partner_name {
      font-size: 2.188em;
      .c0d();
      .fontbold();
    }
    .partner_designation {
      margin-top: 0.188em; //
      .c3();
      .fontbold();
      .f25();
    }
    .partner_desc {
      margin-top: 0.6em; //
      .f25();
      .fontreg();
    }
    .swiper-pagination {
      position: relative;
      padding-top: 4em;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #333333;
      width: 50px;
      border-radius: 7px;
      transition: 0.3s ease;
    }
    .swiper-pagination-bullet {
      background: #333333;
      width: 5px;
      opacity: 1;
      transition: 0.3s ease;
      margin-right: 6px;
      height: 5px;
    }
  }
}
// --------------------------------section 6--------------------------------//
.lenderssec6 {
  position: relative;
  .footer_right_img {
    position: absolute;
    width: 28.063em;
    height: 33.125em;
    right: 15.563em;
    bottom: 3.813em;
  }
  .text_wrapper {
    position: absolute;
    top: 9.48em;
    left: 6.375em;
  }
  .title {
    .f60();
    .fontbold();
    margin-bottom: 0;
    color: #ffffff;
  }

  .desc {
    .f25();
    .fontreg();
    color: #ffffff;
    margin-top: 1.28em;
    max-width: 34.32em;
  }
  .lenderssec6_btn {
    .f25();
    .fontbold();
    width: 14.56em;
    height: 3em;
    margin-top: 1.8em;
    background-color: #ffffff;
    .c0d();
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
  }
  // .lenderssec6_btn:hover {
  //   color: #ffffff;
  //   background-color: #0dad46;
  //   border: 1px solid #ffffff;
  // }
}
@media (max-width: 1910px) {
  .lenderssec1 {
    .bannerbg {
      height: calc(100vh - 0.625em);
    }
    .text_container {
      .angle_right {
        transform: translateY(0);
      }
    }
  }
}
@media (max-width: 1536px) and (min-width: 1281px) {
  .lenderssec2 {
    .rightimg {
      width: 85%;
      display: block;
      margin: 0 auto;
    }
  }
}
@media (max-width: 1536px) and (min-width: 1280px){
  .lenderssec4{
    height: 44.563em;
    padding: 11.5em 0 6em 0;
  }
}
@media (max-width: 1025px){
 
}
@media (max-width: 1024px) {
  .lenderssec1 {
    .bannerbg {
      height: calc(100vh - 82.625em);
    }
  }
  .newsec1{
    .newsec1_wrapper{
      height: calc(100vh - 82.625em);
    }
    .newsec1_swiper{
      height: 100%;
      
    }
    .slider_img{
      height: 100%;
    }
  }

  .lendersec5 .first_col .title {
    width: 100%;
  }

  .lenderssec6 {
    .text_wrapper {
      top: 7.48em;
    }
  }
}
//fontsize---->10px
@media (max-width: 834px) {
  .lender_breadcrumb {
    left: 1.5em;
    font-size: 1.3em;
    top: 4.8em;
  }
  .newsec1{
    position: relative;
    
    .mb_container{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 22;
      width: 100%;
      height: 25em;
    }
    .bgmobile{
      height: 100%;
    }
    .mb_text_container{
      position: absolute;
      top: 5em;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      .desc{
        max-width: 100%;
      }
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      width: 4.375em;
      background: #fff;
    }
    .swiper-pagination-bullet {
      border-radius: 7px;
      background: #fff;
      height: 0.313em;
      width: 0.625em;
      opacity: 1;
    }

  }

  // .lenderssec1 {
  //   position: relative;
  //   .mb_bannerbg {
  //     background-image: url("../../images/lenders/backgroundmobile.jpg");
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     height: 100em;
  //     position: relative;
  //   }
  //   .mb_lenderssec1_swiper {
  //     position: absolute;
  //     bottom: 0;
  //     height: 73em;
  //     width: 100%;
  //   }
  //   .mb_banner_slide_img {
  //     width: 100%;
  //     height: 100%;
  //   }
  //   .mb_text_container {
  //     position: absolute;
  //     top: 10.4em;
  //     text-align: center;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     width: 100%;
  //   }
  //   .title {
  //     .mf50();
  //     .fontbold();
  //     color: #fff;
  //     padding-top: 0;
  //   }
  //   .desc {
  //     .mf16();
  //     .fontreg();
  //     color: #fff;
  //     margin: 0.525em auto 0;
  //     width: 100%;
  //     max-width: 73%;
  //     letter-spacing: 0;
  //   }
  // }

  .lenderssec2 {
    padding: 4.5em 1.5em 3.22em 1.5em;
    .mbdesc {
      .mf20();
      .fontbold();
      text-align: center;
      margin-bottom: 1.3em;
      line-height: 1.6em;
    }
    .mbrightimg {
      margin: 0 auto;
      width: 100%;
      max-width: 72%;
      display: block;
    }

    .swiper-pagination-bullet {
      border-radius: 7px;
      background: #0bb443;
      height: 0.313em;
      width: 0.625em;
      opacity: 1;
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 0;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      width: 4.375em;
      background: #0bb443;
    }
    .swiper-pagination {
      position: relative;
      margin-top: 1em;
    }
  }

  .lenderssec3 {
    padding-left: 1.5em;
    padding-right: 1.5em;
    .title {
      .mf24();
    }
    .desc {
      .mf16();
      width: 100%;
      max-width: 94%;
      margin: 1.154em auto 0;
    }
    .lender_card {
      margin-top: 1.63em;
    }
  }

  .lenderssec4 {
    background: url("../../images/lenders/mbmerchantbg.png");
    background-size: cover;
    .slider::after,
    .slider::before {
      width: 106px;
    }
  }

  .lendersec5 {
    padding-left: 1.5em;
    padding-right: 1.5em;
    .first_col {
      .quote_content {
        padding-top: 1.44em;
      }
      .title {
        text-align: center;
      }
      .desc {
        text-align: center;
        margin-top: 0;
      }
    }
    .third_col {
      .swiper-pagination {
        padding-top: 1.813em;
      }
    }
  }

  .lenderssec6 {
    .text_wrapper {
      top: 0;
      left: 1.6em;
      bottom: 0;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
    }
    .mbfooter_bg {
      height: 39em;
    }
  }
}
@media (max-width: 480px) {
  //<------------------------ section 1----------------------------->
  .newsec1{
    padding-top: 15em;
    .mb_container{
      height: 23em;
      // width: 100%;
    // max-width: 95%;
    .mb_text_container{
      width: 100%;
      max-width: 95%;
  }
      .title{
        .mf50();
        padding-top: initial;
      }
      .desc{
        .mf16();
        width: 100%;
      }
    }
    
    .mb_slider_img{
      height: auto;
    }
    
  
  }

  //<------------------------ section 2----------------------------->
  .lenderssec2 .mbrightimg {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    display: block;
    margin-top: 1.3em;
  }
  //<------------------------ section 3----------------------------->
  .lenderssec3 {
    margin-top: 3.5em;
    .lender_card {
      width: 16.5em;
      height: 16.5em;
    }
    .card_title {
      max-width: 90%;
      .mf14();
      margin-bottom: 2em;
    }
    .card_flex {
      justify-content: space-around;
    }
    .lender_card_img {
      margin-top: 2em;
      width: 7.9em;
      height: 7.8em;
    }
  }
  //<------------------------ section 4----------------------------->

  .lenderssec4 {
    padding-top: 11em;
    padding-bottom: 6.2em;
    .title {
      .mf24();
      margin-bottom: 0.708em;
    }
    .desc {
      .mf16();
      width: 100%;
      max-width: 89%;
      margin: 1.063em auto 2.813em;
    }
    .slider::before {
      display: none;
    }
    .slider::after {
      display: none;
    }
    .slider_track img {
      width: 16.5em;
      height: 7em;
      margin: 0 7px;
    }
  }
  //<------------------------ section 5----------------------------->
  .lendersec5 {
    padding-top: 5em;
    padding-bottom: 4em;
    .first_col {
      img {
        width: 2.4em;
        height: 2.2em;
        transform: translateX(4em);
      }
      .quote_content {
        padding-top: 0;
      }
      .title {
        .mf25();
        padding: 0 1em 0 1em;
        line-height: 1.5em;
        // width: 80%;
      }
      .desc {
        margin-top: 1em;
      }
    }
    .third_col {
      .partner_wrapper {
        width: 100%;
        height: 26em;
        border-radius: 2em;
      }
      .partner_content {
        padding-left: 1.9em;
        padding-top: 5.288em;
      }
      .partner_img {
        right: 2em;
        left: auto;
        // bottom: 18.5em;
        top: 1em;
        width: 15.513em;
        height: 6.688em;
      }
      .partner_name {
        transform: translateX(-0.2px);
      }
      .partner_desc {
        width: 97%;
      }
    }
  }
  //<------------------------ section 6----------------------------->
  .lenderssec6 {
    .text_wrapper {
      bottom: initial;
      display: initial;
      top: 6.4em;
      right: 1.5em;
    }
    .title {
      .mf24();
    }
    .desc {
      margin-top: 0.68em;
      max-width: 100%;
      .mf14();
      letter-spacing: 0.55px;
    }
    .lenderssec6_btn {
      margin-top: 1.6em;
      width: 13.438em;
      height: 2.813em;
      .mf16();
      letter-spacing: 0;
    }
    .mbfooter_bg {
      height: auto;
    }
  }
}
